* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "inter", sans-serif;
  font-style: normal;
}

h2 {
  font-family: orbitron;
  font-size: 32px;
  font-weight: bold;
}

.nav__sidenav {
  top: 0;
  right: -250px;
  transition: right 0.5s ease;
}
.nav__sidenav--active {
  right: 0;
}

.figure {
  top: 10px;
  right: 10px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
}
.figure:hover {
  top: 0px;
  right: 0px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
}

.header {
  color: #0099a3;
}
.header__cv {
  display: flex;
  position: absolute;
  margin: 22px 0 0 10px;
  gap: 10px;
}
.header__cv__i {
  font-size: 42px;
  font-weight: bold;
}
.header__cv__p {
  font-size: 36px;
  font-family: orbitron;
  font-weight: bold;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content__div {
  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 90%;
  border: 3px solid #0099a3;
}
.header__content__div__img {
  display: block;
  position: relative;
  top: 10px;
  right: 10px;
  border-radius: 90%;
  height: 220px;
  width: 220px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__burger {
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  margin-top: 25px;
  margin-right: 10px;
}
.nav__sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: #e8e8e8;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 217px;
}
.nav__sidenav__close {
  cursor: pointer;
  font-size: 42px;
  margin-right: 10px;
}
.nav__sidenav__ul {
  padding: 0 25px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
}
.nav__sidenav__ul__li__a {
  font-family: orbitron;
  font-size: 24px;
  font-weight: bold;
}

.details {
  width: 311.61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details__text {
  display: flex;
  flex-direction: column;
}
.details__h1 {
  display: flex;
  align-items: baseline;
  font-family: orbitron;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}
.details__h1::after {
  margin-left: 8.7px;
  background-color: #0099a3;
  width: 22px;
  height: 3px;
  content: "";
  align-items: baseline;
  display: block;
}
.details__p {
  font-size: 23px;
}

.github {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}
.github__i {
  display: flex;
  font-size: 24px;
}
.github__p {
  display: flex;
  font-size: 20px;
  align-items: baseline;
}
.github__p::after {
  margin-left: 8.7px;
  background-color: #0099a3;
  width: 198px;
  height: 3px;
  content: "";
  align-items: baseline;
  display: block;
}

.header-icon {
  margin-top: 20px;
  width: 311.33px;
  display: flex;
  flex-direction: column-reverse;
  gap: 55px;
}
.header-icon__chevron {
  text-align: center;
  font-size: 119px;
}
.header-icon__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 14px;
}
.header-icon__logo {
  height: 35px;
}

body {
  background-color: #202020;
}

.a-propos {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.a-propos__h2 {
  color: #0099a3;
  margin: 15px 0 20px 37px;
}
.a-propos__contour {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 3px solid #0099a3;
  margin: 0 15px 85px 37px;
}
.a-propos__contour__p {
  padding: 20px;
  text-align: left;
  display: block;
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #d9d9d9;
}

.mes-projets {
  display: flex;
  justify-content: center;
}
.mes-projets__groupe {
  display: grid;
  gap: 75px;
}
@media (min-width: 768px) {
  .mes-projets__groupe {
    gap: 40px;
    margin: 0 20px 0 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1024px) {
  .mes-projets__groupe {
    gap: 75px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
.mes-projets__groupe__contour {
  margin: 0 25px 0 45px;
  border: 3px solid #0099a3;
  display: inline-grid;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .mes-projets__groupe__contour {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .mes-projets__groupe__contour {
    max-height: 310px;
    max-width: 310px;
  }
}

.figure {
  position: relative;
  margin: 0;
}
.figure__figcaption {
  position: absolute;
  color: #d9d9d9;
  bottom: 10px;
  left: 10px;
}
.figure__img {
  cursor: pointer;
  display: block;
  position: relative;
  height: 270px;
  width: 270px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .figure__img {
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
