* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "inter", sans-serif;
  font-style: normal;
}

h2 {
  font-family: orbitron;
  font-size: 32px;
  font-weight: bold;
}

.nav__sidenav {
  top: 0;
  right: -250px;
  transition: right 0.5s ease;
}
.nav__sidenav--active {
  right: 0;
}
@media (min-width: 768px) {
  .nav__sidenav {
    right: -270px;
    transition: right 0.5s ease;
  }
  .nav__sidenav--active {
    right: 0;
  }
}
@media (min-width: 1024px) {
  .nav__sidenav__ul__li__a {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .nav__sidenav__ul__li__a::after {
    display: block;
    content: "";
    border-bottom: solid 3px #0099a3;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .nav__sidenav__ul__li__a:hover::after {
    transform: scaleX(1);
  }
}

.figure {
  top: 10px;
  right: 10px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
}
.figure:hover {
  top: 0px;
  right: 0px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
}

.header {
  color: #0099a3;
}
.header__cv {
  height: 36px;
  display: flex;
  position: absolute;
  margin: 22px 0 0 10px;
  gap: 10px;
}
.header__cv__img {
  font-size: 42px;
  font-weight: bold;
}
.header__cv__p {
  font-size: 36px;
  font-family: orbitron;
  font-weight: bold;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content__div {
  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 90%;
  border: 3px solid #0099a3;
}
.header__content__div__img {
  display: block;
  position: relative;
  top: 10px;
  right: 10px;
  border-radius: 90%;
  height: 220px;
  width: 220px;
}
@media (min-width: 1024px) {
  .header__content {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
  }
  .header__content__div__img {
    height: 275px;
    width: 275px;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 115px;
    margin: 0 55px 90px 55px;
  }
  .header__cv {
    top: 30px;
    right: 30px;
    margin: unset;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__burger {
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  margin-top: 25px;
  margin-right: 10px;
  z-index: 1;
}
.nav__sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  background-color: #e8e8e8;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 217px;
}
.nav__sidenav__close {
  cursor: pointer;
  font-size: 42px;
  margin-right: 10px;
}
.nav__sidenav__ul {
  padding: 0 25px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
}
.nav__sidenav__ul__li__a {
  font-family: orbitron;
  font-size: 24px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .nav__sidenav__ul {
    padding: 0 25px 0 30px;
  }
}
@media (min-width: 768px) {
  .nav__sidenav {
    width: 270px;
  }
}
@media (min-width: 1024px) {
  .nav {
    width: 100%;
    justify-content: center;
  }
  .nav__burger {
    display: none;
  }
  .nav__sidenav {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 37px;
    background-color: unset;
    height: unset;
    position: unset;
  }
  .nav__sidenav__close {
    display: none;
  }
  .nav__sidenav__ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.details {
  width: 311.61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details__text {
  display: flex;
  flex-direction: column;
}
.details__h1 {
  display: flex;
  align-items: baseline;
  font-family: orbitron;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}
.details__h1::after {
  margin-left: 8.7px;
  background-color: #0099a3;
  width: 22px;
  height: 3px;
  content: "";
  align-items: baseline;
  display: block;
}
.details__p {
  font-size: 23px;
}
@media (min-width: 1024px) {
  .details {
    width: unset;
    align-items: flex-start;
  }
  .details__h1 {
    font-size: 45px;
  }
  .details__text {
    margin-top: 200px;
  }
  .details__p {
    font-size: 29px;
  }
}

.github {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}
.github__i {
  display: flex;
  font-size: 24px;
}
.github__p {
  display: flex;
  font-size: 20px;
  align-items: baseline;
}
.github__p::after {
  margin-left: 8.7px;
  background-color: #0099a3;
  width: 198px;
  height: 3px;
  content: "";
  align-items: baseline;
  display: block;
}
@media (min-width: 1024px) {
  .github__i {
    font-size: 29px;
  }
  .github__p {
    font-size: 29px;
  }
  .github__p::after {
    width: 245px;
  }
}

.header-icon {
  margin-top: 20px;
  width: 311.33px;
  display: flex;
  flex-direction: column-reverse;
  gap: 55px;
}
.header-icon__chevron {
  text-align: center;
  width: 100%;
}
.header-icon__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 14px;
}
.header-icon__logo {
  height: 35px;
}
@media (min-width: 1024px) {
  .header-icon {
    flex-direction: row;
    gap: 45px;
  }
  .header-icon__chevron {
    margin-top: 60px;
    margin-left: 10px;
  }
}

dialog {
  margin: auto;
  border-radius: 8px;
  width: fit-content;
  text-decoration: none;
  border: none;
  position: fixed;
  top: 5%;
  left: 8%;
  right: 8%;
  max-width: unset;
}

.section-modal {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}
.section-modal__close {
  cursor: pointer;
  color: #0099a3;
}
.section-modal__close__i {
  font-size: 40px;
  position: absolute;
  right: 5px;
}
.section-modal__h2 {
  margin: 0 20px 0 20px;
  display: flex;
  align-items: baseline;
  color: #0099a3;
}
.section-modal__groupe-img__img {
  height: 225px;
  width: 225px;
  object-fit: cover;
}
.section-modal__p {
  margin: 0 20px 0 20px;
}
.section-modal__groupe-btn {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-modal__groupe-btn__btn {
  gap: 10px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  width: 196px;
  height: 54px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #d9d9d9;
  background-color: #0099a3;
}
.section-modal__groupe-btn__btn__i {
  background-color: #0099a3;
}
.section-modal__groupe-btn__btn__p {
  background-color: #0099a3;
}

.footer {
  background-image: url("/Images/background-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 15px 15px 15px;
  color: #d9d9d9;
  flex-direction: column;
  gap: 10px;
}
.footer__button {
  padding: 18px 20px 18px 20px;
  width: 88%;
  gap: 4px;
  display: flex;
  justify-content: center;
  background-color: #0099a3;
}
.footer__button__p {
  font-family: orbitron;
  font-size: 20px;
  font-weight: bold;
}
.footer__button__img {
  height: 24px;
}
@media (min-width: 768px) {
  .footer__button {
    width: 350px;
  }
}
.footer__contact {
  margin-top: 20px;
  display: flex;
  gap: 6px;
}
.footer__contact__i {
  display: flex;
  align-items: center;
}
.footer__github {
  gap: 6px;
  display: flex;
  align-items: center;
}
.footer__github__p {
  font-size: 20px;
}
.footer__mentions-legales__p {
  font-size: 9px;
}

body {
  background-color: #202020;
  background-image: url("./../../Images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 150px;
}

@media (min-width: 768px) {
  main {
    margin: 0 55px 0 55px;
  }
}

.a-propos {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.a-propos__h2 {
  color: #0099a3;
  margin: 15px 0 20px 37px;
}
.a-propos__contour {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 3px solid #0099a3;
  margin: 0 15px 85px 37px;
}
.a-propos__contour__p {
  padding: 20px;
  text-align: left;
  display: block;
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #d9d9d9;
}

.mes-projets {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}
.mes-projets__h2 {
  margin-left: 37px;
  position: relative;
  color: #0099a3;
}
.mes-projets__groupe {
  justify-items: center;
  width: 100%;
  display: grid;
  gap: 75px;
}
@media (min-width: 768px) {
  .mes-projets__groupe {
    gap: 40px;
    margin: 0 20px 0 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1024px) {
  .mes-projets__groupe {
    gap: 75px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
.mes-projets__groupe__contour {
  height: fit-content;
  width: fit-content;
  border: 3px solid #0099a3;
  display: inline-grid;
}
@media (min-width: 768px) {
  .mes-projets__groupe__contour {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .mes-projets__groupe__contour {
    max-height: 310px;
    max-width: 310px;
  }
}

.figure {
  position: relative;
  margin: 0;
}
.figure__figcaption {
  color: #d9d9d9;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  bottom: 10px;
  left: 10px;
}
.figure__figcaption--black {
  color: black;
}
.figure__img {
  cursor: pointer;
  display: block;
  position: relative;
  height: 270px;
  width: 270px;
  object-fit: cover;
}

.mes-competences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 125px;
}
.mes-competences__h2 {
  position: relative;
  margin-left: 37px;
  color: #0099a3;
}
.mes-competences__groupe {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  justify-content: center;
  gap: 25px;
}
.mes-competences__groupe__logo {
  display: inline-grid;
  height: 78px;
  width: 78px;
}
@media (min-width: 768px) {
  .mes-competences__groupe {
    margin: 80px 40px 80px 40px;
    flex-wrap: wrap;
    grid-template-columns: none;
    display: flex;
  }
}

.mon-parcours {
  margin: 50px 15px 85px 37px;
}
.mon-parcours__h2 {
  color: #0099a3;
}
.mon-parcours__contour {
  margin-top: 20px;
  margin-bottom: 60px;
  border: 3px solid #0099a3;
}

.groupe-texte {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  right: 10px;
  gap: 10px;
  background-color: #d9d9d9;
  color: #0099a3;
  padding: 25px;
}
.groupe-texte__bloc {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.groupe-texte__bloc__i {
  margin: 20px 20px 20px 0;
  font-size: 50px;
}
.groupe-texte__bloc__dates {
  font-size: 18px;
}
.groupe-texte__bloc__h3 {
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 375px) {
  .groupe-texte__bloc__h3 {
    font-size: 24px;
  }
}
.groupe-texte__bloc__lieu {
  font-size: 18px;
}
.groupe-texte__bloc__stage {
  font-size: 16px;
  font-weight: bold;
}
.groupe-texte__bloc__trait::after {
  background-color: #0099a3;
  margin-top: 5px;
  width: 3px;
  height: 22px;
  content: "";
  display: block;
}
@media (min-width: 1024px) {
  .groupe-texte__bloc__trait {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .groupe-texte__bloc__trait::after {
    margin-left: 10px;
    width: 45px;
    height: 3px;
    content: "";
    margin-top: 12px;
  }
}
@media (min-width: 1024px) {
  .groupe-texte__bloc {
    width: 33%;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .groupe-texte {
    flex-direction: row;
    gap: 20px;
  }
}

.mention-legales h2 {
  color: #0099a3;
  font-size: 24px;
}

.mention-legales span {
  color: #0099a3;
}

@media (min-width: 1024px) {
  .nav__burger.fa-bars {
    display: none;
  }
  .nav__sidenav__close.fa-x {
    display: none;
  }
}

.mention-legales {
  color: #d9d9d9;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.mention-legales__h1 {
  text-align: center;
  color: #0099a3;
  border-bottom: solid 2px #0099a3;
  margin-top: 80px;
}
@media (min-width: 768px) {
  .mention-legales {
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .mention-legales {
    gap: 90px;
  }
}

.proprietaire-du-site {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.proprietaire-du-site__h2 {
  font-size: 20px;
}

.hebergeur {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.hebergeur__groupe {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.hebergeur__groupe__h3 {
  color: #0099a3;
}

.CGU {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prevention__h2 {
  font-size: 26px;
  font-family: inter;
}

main {
  margin: 20px;
}
@media (min-width: 768px) {
  main {
    margin: 0 60px 90px 60px;
  }
}
@media (min-width: 1024px) {
  main {
    margin: 0 120px 90px 120px;
  }
}

/*# sourceMappingURL=style.css.map */
