.nav {
  &__sidenav {
    top: 0;
    right: -250px;
    transition: right 0.5s ease;
    &--active {
      right: 0;
    }
    @media (min-width: 768px) {
      right: -270px;
      transition: right 0.5s ease;
      &--active {
        right: 0;
      }
    }
  }
  @media (min-width: 1024px) {
    &__sidenav {
      &__ul {
        &__li {
          &__a {
            display: inline-block;
            margin: 0;
            text-transform: uppercase;
            &::after {
              display: block;
              content: "";
              border-bottom: solid 3px $couleur_principal;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
            }
            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}

.figure {
  top: 10px;
  right: 10px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
  &:hover {
    top: 0px;
    right: 0px;
    transition: right 0.5s ease-out, top 0.5s ease-out;
  }
}
