.nav {
  &__sidenav {
    top: 0;
    right: -250px;
    transition: right 0.5s ease;
    &--active {
      right: 0;
    }
    @media (min-width: 768px) {
      right: -270px;
      transition: right 0.5s ease;
      &--active {
        right: 0;
      }
    }
  }
}

.figure {
  top: 10px;
  right: 10px;
  transition: right 0.5s ease-out, top 0.5s ease-out;
  &:hover {
    top: 0px;
    right: 0px;
    transition: right 0.5s ease-out, top 0.5s ease-out;
  }
}
