body {
  background-color: $background_color;
}
.a-propos {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  &__h2 {
    color: $couleur_principal;
  }
  &__contour {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 3px solid $couleur_principal;
    width: fit-content;
    height: fit-content;
    &__p {
      display: block;
      position: relative;
      top: 10px;
      right: 10px;
      background-color: #d9d9d9;
      height: 820px;
      width: 378px;
    }
  }
}
