body {
  background-color: $background_color;
}
.a-propos {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  &__h2 {
    color: $couleur_principal;
    margin: 15px 0 20px 37px;
  }
  &__contour {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 3px solid $couleur_principal;
    margin: 0 15px 85px 37px;
    &__p {
      padding: 20px;
      text-align: left;
      display: block;
      position: relative;
      top: 10px;
      right: 10px;
      background-color: #d9d9d9;
    }
  }
}
.mes-projets {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 20px;
  &__h2 {
    position: relative;
    width: 80%;
    left: 5px;
    color: $couleur_principal;
  }
  &__groupe {
    display: grid;
    gap: 75px;
    // margin: 0 50px 0 50px;
    @media (min-width: 768px) {
      gap: 40px;
      margin: 0 20px 0 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }
    @media (min-width: 1024px) {
      gap: 75px;
      grid-template-columns: repeat(4, 1fr);

      grid-auto-rows: minmax(100px, auto);
    }
    &__contour {
      height: fit-content;
      width: fit-content;
      margin: 0 35px 0 55px;
      border: 3px solid $couleur_principal;
      display: inline-grid;
      // display: flex;
      // align-items: flex-end;

      @media (min-width: 768px) {
        margin: 0;
      }

      @media (min-width: 1024px) {
        max-height: 310px;
        max-width: 310px;
      }
    }
  }
}
.figure {
  position: relative;

  margin: 0;
  &__figcaption {
    position: absolute;
    color: #d9d9d9;
    bottom: 10px;
    left: 10px;
  }
  &__img {
    cursor: pointer;
    display: block;
    position: relative;
    height: 270px;
    width: 270px;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    &__img {
      height: 100%;
      width: 100%;
    }
  }
}
.mes-competences {
  margin-top: 85px;
  &__h2 {
    position: relative;

    left: 20px;
    color: $couleur_principal;
  }
  &__groupe {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    justify-content: center;
    gap: 25px;

    &__logo {
      display: inline-grid;
      height: 78px;
      width: 78px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: none;
    }
  }
}

.modal {
  display: none; /* Masquer les modales par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal__contenu {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
}
