.footer {
  background-image: url("/Images/background-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 15px 15px 15px;
  color: #d9d9d9;
  flex-direction: column;
  gap: 10px;
  &__button {
    padding: 18px 20px 18px 20px;
    width: 88%;
    gap: 4px;
    display: flex;
    justify-content: center;

    background-color: $couleur_principal;

    &__p {
      font-family: orbitron;
      font-size: 20px;
      font-weight: bold;
    }
    &__img {
      height: 24px;
    }
    @media (min-width: 768px) {
      width: 350px;
    }
  }
  &__contact {
    margin-top: 20px;
    display: flex;
    gap: 6px;
    &__i {
      display: flex;
      align-items: center;
    }
  }
  &__github {
    gap: 6px;
    display: flex;
    align-items: center;
    // &__i {
    // }
    &__p {
      font-size: 20px;
    }
  }
  &__mentions-legales {
    &__p {
      font-size: 9px;
    }
  }
}
